TZ=UTC
PORT=3333
HOST=localhost
LOG_LEVEL=info
APP_KEY=
NODE_ENV=development
SESSION_DRIVER=cookie
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app
MEDBOOK_API_DOMAIN=
MEDBOOK_ADMIN_API_KEY=
VURA_E_PRESCRIPTION_API_TOKEN=
E_PRESCRIPTION_API_LINK=
DB_E_PRESCRIPTION_HOST=
DB_E_PRESCRIPTION_PORT=
DB_E_PRESCRIPTION_USER=
DB_E_PRESCRIPTION_PASSWORD=
DB_E_PRESCRIPTION_DATABASE=
DRIVE_DISK=fs
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
VITE_E_PRESCRIPTION_API_LINK=
ALLOW_API_URL_LIST=
VITE_APP_NAME=
SMTP_HOST=
SMTP_PORT=
BREVO_API_KEY=
MEILISEARCH_HOST=localhost:7700
MEILISEARCH_API_KEY=UXo7WQ9Pys416bawtsYpR2opjCl6JN_Fwh22OmZVqHY
VITE_E_PRESCRIPTION_DOMAIN=
VITE_TRANSPORTER_APP_DOMAIN=
SENTRY_AUTH_TOKEN=
VITE_SENTRY_DSN=
SENTRY_DSN=
ADMIN_PHONE=